# Ignore all
*

# Unignore all cpp sources and headers.
!*.cpp
!*.h

!*.py
!*.png
# Unignore all directories and makefiles.
!*/
!makefile

!.gitignore
!report.pdf

# Ignore the temporary test file.
temp_test.cpp


